<a href="https://colab.research.google.com/github/fatimasood/Python-Practice-Questions/blob/main/python_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# passing data b/w methods

class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def get_balance(self):
        return self.balance


# object
account = BankAccount(1000)
account.deposit(500)
print("Updated Balance:", account.get_balance())

Updated Balance: 1500

In [ ]:
class Product:
    def __init__(self, name, price=10):
        self.name = name
        self.price = price

    def display(self):
        print("Product Name:", self.name)
        print("Price:", self.price)


# Objects
p1 = Product("Pen", 5)
p2 = Product("Notebook")

p1.display()
p2.display()

Product Name: Pen
Price: 5
Product Name: Notebook
Price: 10

In [ ]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def circumference(self):
        return 2 * 3.14 * self.radius

    def area(self):
        return 3.14 * self.radius * self.radius


c = Circle(4)
print("Circumference:", c.circumference())
print("Area:", c.area())

Circumference: 25.12
Area: 50.24

In [ ]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def give_raise(self, percent):
        self.salary += self.salary * (percent / 100)


emp = Employee("Fatema", 50000)
emp.give_raise(10)
print("Fatema's New Salary:", emp.salary)

Fatema's New Salary: 55000.0

In [ ]:
class TrafficLight:
    def __init__(self, color):
        self.color = color

    def action(self):
        if self.color == "green":
            return "Go"
        elif self.color == "red":
            return "Stop"
        elif self.color == "yellow":
            return "Caution"


t1 = TrafficLight("green")
t2 = TrafficLight("red")
t3 = TrafficLight("yellow")

print(t1.action())
print(t2.action())
print(t3.action())

Go
Stop
Caution

In [ ]:
class Library:
    total_books = 0

    def __init__(self, book_name):
        self.book_name = book_name
        Library.total_books += 1

    def add_book(self):
        print("Book Added:", self.book_name)

    @classmethod
    def get_total_books(cls):
        return cls.total_books


b1 = Library("Python Basics")
b2 = Library("Data Science")

b1.add_book()
b2.add_book()

print("Total Books:", Library.get_total_books())

Book Added: Python Basics
Book Added: Data Science
Total Books: 2

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def from_string(cls, data):
        name, age = data.split(",")
        return cls(name, int(age))

    def display(self):
        print("Name:", self.name)
        print("Age:", self.age)


p1 = Person("Bob", 30)
p2 = Person.from_string("Alice,25")

p1.display()
p2.display()

Name: Bob
Age: 30
Name: Alice
Age: 25